<!DOCTYPE html>
<html>
  <head>
    <title>Stayontrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript">
  //Home Page
    window.logoURL = "<%= image_url('marketing/StayOnTrackLogo.svg') %>";
    window.logoWhiteURL = "<%= image_url('marketing/StayOnTrackLogoWhite.svg') %>";
    window.logoWhiteSmallURL = "<%= image_url('marketing/StayOnTrackLogoWhiteIcon.svg') %>";
    window.workingTogether1URL = "<%= image_url('marketing/working_together-1.svg') %>";
    window.workingTogether2URL = "<%= image_url('marketing/working_together-2.svg') %>";
    window.workingTogether3URL = "<%= image_url('marketing/working_together-3.svg') %>";
    window.arrowSmallDropdownURL = "<%= image_url('icons/arrow-small-dropdown.svg') %>";
    window.buttonArrowURL = "<%= image_url('icons/button-arrow.svg') %>";
    window.appPlatformsURL = "<%= image_url('marketing/apps.png') %>";
  </script>
</html>

