<!DOCTYPE html>
<html>
  <head>
    <title>Stayontrack</title>
    <!--- meta tags --->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Stayontrack">
    <meta property="og:description" content="A pixel-perfect clone of Pivotal Tracker by Jared Kaneshiro">
    <meta property="og:image" content="<%= image_url 'marketing/meta-image.png' %> ">
    <meta property="og:url" content="https://stay-on-track-app.herokuapp.com/">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_url('favicon_io/favicon-32x32.png'), rel:"icon", type:"image/png"  %>
    <%= favicon_link_tag image_url('favicon_io/apple-touch-icon.png'), rel:"icon", type:"image/png" %>  
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript">
  //Home Page
    window.logoURL = "<%= image_url('marketing/StayOnTrackLogo.svg') %>";
    window.logoWhiteURL = "<%= image_url('marketing/StayOnTrackLogoWhite.svg') %>";
    window.logoWhiteSmallURL = "<%= image_url('marketing/StayOnTrackLogoWhiteIcon.svg') %>";
    window.workingTogether1URL = "<%= image_url('marketing/working_together-1.svg') %>";
    window.workingTogether2URL = "<%= image_url('marketing/working_together-2.svg') %>";
    window.workingTogether3URL = "<%= image_url('marketing/working_together-3.svg') %>";
    window.arrowSmallDropdownURL = "<%= image_url('icons/arrow-small-dropdown.svg') %>";
    window.buttonArrowURL = "<%= image_url('icons/button-arrow.svg') %>";
    window.appPlatformsURL = "<%= image_url('marketing/apps.png') %>";
    window.currentBacklogEmptyURL = "<%= image_url('icons/current-backlog-empty.svg') %>";
    window.iceboxEmptyURL = "<%= image_url('icons/icebox-empty.svg') %>";
    window.photoJaredURL = "<%= image_url('marketing/jared-kaneshiro-photo.jpg')%>";
  </script>
</html>

